.row
	- box 6, "Edit a hall", { 'Show' => hall_path(@hall), 'Back' => venue_halls_path(@hall.venue) } do
		= render 'form'

	- box 6, "Current template", { 'Templates' => templates_path }, 'inverse' do
		#template
			= image_tag @hall.template.uploaded_file.assets, :width => '100%' if @hall.template and @hall.template.uploaded_file