= raw @booth.contact_info
%hr
.alert.alert-info Your contact information will be included from your profile
= simple_form_for(@booth, url: booth_send_message_path, method: :post, html: { id: "send-message" }, remote: true) do |f|
  .form-group
    %textarea#message.form-control{name: "user[message]", placeholder: "Type your message here..."}
  %input{type: "hidden", name: "user[id]", value: "#{current_user.id}"}
  .form-actions
    %input.btn.btn-warning{:type => 'submit', :value => "Send"}
    = f.error_notification

  :javascript
    $('form#send-message').on('submit', function(){
      $('body').modalmanager('loading');
    });