#leaveDetails
  .modal-header.bg-primary
    Leave My Details
    %button.close{ :type => 'button', 'data-dismiss' => 'modal', 'aria-hidden' => 'true' }
      &times;
  .modal-body
    .alert.alert-info 
      Submit a virtual business card to the Exhibitor with the following details from your 
      %span.hoverLink{"data-placement" => "top", "data-toggle" => "tooltip", "title" => "Update your profile by clicking on your name in the top right corner of your screen."}
        profile*
      =":"
    = render partial: '_shared/user/business_card', locals: { user: @current_user }
        
    = simple_form_for(@booth, url: booth_send_business_card_path, method: :post, html: { id: "send-message", :class => "form-horizontal" }, remote: true, :wrapper => "horizontal", defaults: { :input_html => { class: "form-control"}, label_html: { class: "col-lg-4" } }) do |f|
      .form-group
        %label.col-lg-4.control-label Message
        .col-lg-8
          %textarea#message.form-control{name: "user[message]", placeholder: "Type your message here..."}
      %input{type: "hidden", name: "user[id]", value: "#{current_user.id}"}
      .form-actions
        %input.btn.btn-warning{:type => 'submit', :value => "Send"}
        = f.error_notification

:javascript
  $('.hoverLink').tooltip();
  
  $('form#send-message').on('submit', function(){
    $('body').modalmanager('loading');
  });      
