-if (@booth.template.template_sub_type == @booth.template.templateSubTypes[:boothHall])
  = render partial: 'booths/styles/hall', locals: { booth: @booth }
-else
  = render partial: 'booths/styles/hall', locals: { booth: @booth }

