.row
  .col-md-12
    .container
      %h1 Privacy Disclosure
      %p 
        The collection of your personal information is governed by the Australian Privacy Act 1988. Your information is collected for the purposes of processing your registration or to respond to your request to receive information about this Conference and other events by CommStrat Limited, and to market the products and services of the Conference and our business associates. You may request to gain access to any of your personal information that we have collected. If you do not wish to have this information used for marketing purposes, please contact -E: registration@commstrat.com.au  T: +61 (03) 8534 5050.

      %h2 Copyright
      %p 
        Content for each virtual conference is unique and is owned by the presenter and commissioned for release by CommStrat and shall not be copied, recorded, redistributed, or used in any way without direct permission from both CommStrat and the presenter. Any unauthorised use of any of our virtual conference presentations and materials will lead to legal action against the user.
      %p
        Handouts provided as part of any of our virtual conferences are covered under copyright laws. They are for your personal, non-commercial use only, and any attempt to republish, share, upload, frame, post, transmit, or otherwise distribute the content will result in copyright infringement.
      %p 
        All information provided by the virtual conference is to be used only by professionals and students. We take no responsibility for any actions any attendee may take after receiving the information contained in any of our virtual conferences. We also shall not be held liable for any damages (incidental or consequential) that occur as a result of an attendee using or relying upon the information contained within any of our virtual conferences or on our website. We will not be held liable for any of the content of the virtual conferences, nor for the quality of this content. 

      %h2 Indemnity
      %p 
        CommStrat Limited reserves the right to change the speakers and/or modify the program of any event due to circumstances beyond our control. In the event of changes to speakers, or cancellation of the event, CommStrat Limited is indemnified against any or all costs, damages, expenses, including legal fees, which are incurred by the attendee/s.

      %hr