#boothListHall
  .booths.section
    .title Exhibitor List

    .listWindow
      -boothsList = []
      -@hall.venue.halls.each do |subHall|
        -subHall.booths.each do |booth|
          -boothsList.push(booth)
          
      -boothsList.each_slice(4) do |boothListItem|
        .boothGroup
          -boothListItem.each do |booth|
            .imageFrame
              = link_to(image_tag(booth.company_logo.assets.url), booth_path(booth), tooltip(booth.name, :top)) if booth.company_logo
:javascript
  $(function(){
    $("#content").addClass("boothListHall");
    $("#wrap").addClass("boothListHall");
    $("#hall").css("background", "none");
  });
