-if (hall.template.template_sub_type == hall.template.templateSubTypes[:knowledge_knowledgeLibrary])
  = render partial: 'halls/knowledge_hall_styles/knowledge_library', locals: { :hall => hall }
-else
  = render partial: 'halls/knowledge_hall_styles/knowledge_library', locals: { :hall => hall }
