%li{class: "next navLink "+(current_page.last? ? "disabled" : "" )}
  -url = url.split('?')[0] + '?page=' + (current_page.to_i + 1).to_s
  = link_to fa_icon("caret-right"), (current_page.last? ? "#" : url), :rel => 'next', :remote => remote
