%li{class: "prev navLink "+(current_page.first? ? "disabled" : "" )}
  -url = url.split('?')[0] + '?page=' + (current_page.to_i - 1).to_s
  = link_to fa_icon("caret-left"), (current_page.first? ? "#" : url), :rel => 'prev', :remote => remote
