%li.clearfix.left
  %span.chat-img.pull-left
    - from_user_avatar = chat.from_user.uploaded_file.assets.url if chat.from_user
    %img.img-circle{src: from_user_avatar, width: 50}
  .chat-body.clearfix
    .header
      %strong.primary-font 
        = chat.from_user.name if chat.from_user
      %small.text-muted.pull-right
        %span.glyphicon.glyphicon-time
        = "#{chat.created_at}"
    %p
      = chat.message