$('#chat-message').val('');
$("#chat_widget .panel-body").animate({ scrollTop: $('#chat_widget .panel-body').height() }, "slow");

$('.chat-message').val('');
$(".chat_widget .panel-body").animate({ scrollTop: $('.chat_widget .panel-body').height() }, "slow");