/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
.topNavigationMenu.navbar-wrapper {
  /* Special class on .container surrounding .navbar, used for positioning it into place. */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    /* Flip around the padding for proper display in narrow viewports */
    .container {
      padding-left: 0;
      padding-right: 0;
    }
    .navbar {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  
.topNavigationMenu {
  nav.navbar{
    position: fixed;
    width: inherit;
    border-top: 0px !important;
  }
  
  .navbarButton {
    a:hover div {
      background: #d71;
    }
    a {
      padding:0px;
      margin: 8px;
      margin-left: 8px;
      margin-right: 8px;
      
      div{
        @include transition("background-color .3s ease-in");
        background: #999;
        @include border-radius("3px");
        padding:8px;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
      
      }
    }
  }
  
  
  .navbarButton.active a div {
    background: #F60;
  }
  
  
  .navbar-nav > li > a {
    @include transition("color .2s ease-in");
  }
  
  .nav > li > ul > a.dropdown-toggle {
    display: none !important;
  }
  
  .navbar-inverse .navbar-nav > .dropdown.navbarButton > a .caret {
    border-top-color: white;
    border-bottom-color: white;
  }
  
  .userSection {
    a {
      padding:0px;
      margin: 8px;
      margin-left: 8px;
      margin-right: 8px;
      margin-top: 14px;
    }
    .userIcon{
      display: inline;
      img {
        display: inline;
        width: 60px;
        height: 35px;
        margin-right: 10px;
        margin-top: -7px;
      }
    }
    .noUserIcon {
      display: inline-block;
      margin-top: -7px;
      padding-right: 7px;
      padding-top:5px;
      font-size: 25px;
      width: 60px;
      height: 35px;
      text-align: right;
    }
    
    .userDetailsSection {
      display: inline;
      vertical-align: super;
    }
  }
}