#helpModal.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{"data-dismiss" => "modal", "aria-hidden" => "true"} x
				%h4.modal-title Modal title
			.modal-body
				%p
			.modal-footer
				%button.btn.btn-default{"data-dismiss" => "modal"} Close